name: On push

on: [push]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: echo checkout status
        run: echo "Checkout complete"
      - name: Installing Node@18
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: install deps
        run: npm i
      - name: run linting
        run: npm run lint
      - name: echo linting status
        run: echo "Linting done"

  testing:
    runs-on: ubuntu-latest
    needs: linting
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: echo checkout status
        run: echo "Checkout complete"
      - name: Installing Node@18
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: install deps
        run: npm i
      - name: run testing
        run: npm run test
      - name: echo Testing status
        run: echo "Testing done"

  building:
    runs-on: ubuntu-latest
    needs: testing
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: echo checkout status
        run: echo "Checkout complete"
      - name: Installing Node@18
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: install deps
        run: npm i
      - name: running building
        run: npm run build
      - name: echo Building status
        run: echo "Building done"
